*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#000000bf,#ffffff);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 110px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: none;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 1s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.career{
    width: 800px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #000000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 5);
    font-size: 18px;
    background: white;
    border-radius: 10px;
}